:root {
    --primarybg: darkblue;
    --primarytxt: white;

}


.topbg {
    background-color: var(--primarybg);
    text-align:center;
    color: var(--primarytxt);
    padding-top: 15px;
    padding-bottom: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#now,
#then {
    background-color: lightblue
}

#date,
#date1,
#date2,
#date3,
#date4,
#date5 {
    font-weight: bold;
}

.btn:hover {
    background-color: lightblue;
    border-color: black;
    border-width: 2px;
    cursor: pointer;
}